*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.ebayr.conf
*.sw?

# Ignore IDE
.idea

*.swo
*.swp

**/*.swo
**/*.swp

*.gem

# 忽略 rvm gemset 的文件
.ruby-gemset
.ruby-version

